{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    {% include 'partial/header.html.twig'%}
<div class="row">
    <div class="col">
        <div class="text-center mx-auto w-50 mt-3">
            <img src="{{ asset('/build/uploads/logo.png') }}" class="logo mx-auto d-block mb-3" alt="logo biorad">
            <h4 class="mb-3">Mot de passe oublié</h4>
            {{ form_start(form) }}
                {{ form_row(form,{'label': false}) }}
            <button type="submit" name="submit" class="btn login" >se connecter</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
