{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    {% include 'partial/header.html.twig'%}
    <h3 class="text-center mt-4">Réinitialisation du mot de passe</h3>
    <div class="row justify-content-center align-items-center">
        <div class="col">
            <div class="text-center mx-auto mt-3">
                <img src="{{ asset('/build/uploads/logo.png') }}" class="logo mx-auto d-block mb-3" alt="logo biorad">
                <p class="text-center mt-5 mb-0">Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
                <form id="resetMdp" method="post" class="restPwd w-50">
                    <div class="form-group ">
                    <input class="form-control  mt-3" type="password" name="password" id="newPassword" placeholder="Mot de passe" required autocomplete="on">
                        <p class="text-center mt-1" id="newPasswordCheck"></p>
                    </div>
                    <div class="form-group">
                    <input class="form-control mt-1" type="password" name="confirmPassword" id="confirmNewPassword" placeholder="Confirmer mot de passe" required autocomplete="on">
                        <p class="text-center mt-1" id="confirmPasswordCheck"></p>
                    </div>
                    <input type="hidden" name="token" value="{{ token }}">
                    <button class="btn login" type="submit" id="valider">
                        Valider le mot de passe
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
