{% extends 'base.html.twig' %}

{% block title %}Ligne de production index{% endblock %}

{% block body %}
    {% include 'partial/header.html.twig'%}
    <h3>Index ligne de production</h3>

    <table class="table table-hover table-bordered">
        <thead class="thead bg-success">
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>

        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('category_show', {'slug': category.slug}) }}"><i class="far fa-eye mr-3  float-right"></i></a>

                    <a href="{{ path('category_edit', {'slug': category.slug}) }}"><i class="far fa-edit  ml-2 mr-3 float-right"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune ligne enregistrer</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn create" type="button"><a  href="{{ path('category_new') }}">Création d'une nouvelle ligne de prodcution</a></button>
{% endblock %}
