{% extends 'base.html.twig' %}

{% block title %}Homepage One Up{% endblock %}

{% block body %}
    <div class="row">
        <div class="col col-sm col-md-6 col-lg-6 col-xl-6">
            <div class="text">dgfdfdffd</div>
        </div>
        <div class="col col-sm col-md-6 col-lg-6 col-xl-6">
           <div class="oneUp">
               <img src="{{ asset('/build/uploads/One-up-logo.png') }}" class="img-fluid" alt="Responsive image">
           </div>
        </div>
    </div>
{% endblock %}
