*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.create {
    border : none;
}

.restPwd, .categoryForm, .loginCard {
    margin: auto;
}

.odd {
    border: #58bb89 solid 4px;
}

.even, .jumbotron{
    border: #049c4c solid 4px;
}

.jumbotron {
    background: #ffffff;
    padding: 1.5rem;
}

.logo {
    max-width : 20%;
    height: auto;
    display: block;
}

.login, .btn-block , .subRating {
    background:  #049c4c ;
}

.dropdown-item:hover {
    background: #58bb89;
}

.nav-link {
    padding: 0;
}

.nav-link:hover {
    color: #16a25a !important;
}


.create a, .read a , .look a{
    color: #000000;
}

.header2 {
    background: #000000;
    padding: 20px;
}

.alert_error_link, .error_message, .error_message_match, .error-message-rating, .error-message-content {
    color: #ff5b5b;
    display: none;
    text-align: center;
}

.page-item.active .page-link, .btn-block:hover ,.create a:hover, .look a:hover, .login:hover, .read:hover, .subRating:hover {
    color: #ffffff;
}

.avatar-nav-default {
    width: 3rem;
}

.categoryCard, .promoting-card {
    border: solid 2px #16a25a;
}

.categoryCard {
    padding: 10px;
}

.fa-eye, .fa-edit, a.page-link:hover {
    color: #16a25a
}

.indexCard {
    height: 15rem;
}

.look {
    background: #8bc33b	;
}

.read, .create {
    background: #16a25a;
}

.edit {
    background: #04a3e2;
}

.fa-star {
    color: #ffff00;
}

.block-comment {
    margin-top: 40px;
}

.hr {
    border: solid 2px #8bc33b;
}

.page-item.active .page-link {
    background: #049c4c;
    border-color : #049c4c;
}

a.page-link, .fa-thumbs-up, .js-like, .js-label, .js-like:hover {
    color: #049c4c;
}


.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

/***************************** profile **************************************/


.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 50%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
