<div class="jumbotron jumbotron-fluid">
    <div class="row">
        <div class="col">
            <img src="{{ asset('/build/uploads/logo.png') }}" class="logo img-fluid float-right mt-0 " alt="logo biorad">
        </div>
    </div>
    <div class="row">
        <h4 class="title ml-3">One Up Program</h4>
    </div>
    <div class="row">
        <p class="text ml-3">
            This is a modified jumbotron that occupies the entire horizontal space of its parent.
        </p>
    </div>
</div>
