
    <div class="row">
        <div class="col">
            <div class="header2 mb-3">
                <img src="{{ asset('/build/uploads/logo.png') }}" class="logo img-fluid mx-auto d-block" alt="logo biorad">
                <img src="{{ asset('/build/uploads/oneup01.jpg') }}" class=" img-fluid mx-auto d-block" alt="oneup">
            </div>
        </div>
    </div>

